.background {
	background-color: #f9e8ff;
	background-image: url("/images/jennifer-background.jpg");
  background-attachment: fixed;
}
.person-name,
.person-description {
	color: #ffd700;
	text-shadow: 3px 3px #935fc9;
}
